# macOS
.DS_Store

# Rust and tools
.task
target/
dist/

# App file extension
*.multiviewer

# NDI
vendor/ndi/**/*.lib
vendor/ndi/**/*.dylib
vendor/ndi/**/*.dll
vendor/ndi/**/*.so
vendor/ndi/.cache/
vendor/ndi/macos/sdk/
vendor/ndi/linux/sdk/
vendor/ndi/windows/sdk/

# Build metadata
.ndi_sdk_dir
.tmp.iconset
.cargo/config.toml

# Generated icons
assets/AppIcon.icns

# Blackmagic (only keep headers)
vendor/blackmagic/*
!vendor/blackmagic/Mac/
vendor/blackmagic/Mac/*
!vendor/blackmagic/Mac/include/
!vendor/blackmagic/Linux/
vendor/blackmagic/Linux/*
!vendor/blackmagic/Linux/include/
!vendor/blackmagic/Win/
vendor/blackmagic/Win/*
!vendor/blackmagic/Win/include/
