# macOS
.DS_Store

# Rust and tools
target/
dist/
.cargo
.task

# Generated cargo-packager configs
.Packager.*.toml

# Generated icons
.tmp.iconset
.tmp.ico

# App file extension
*.multiviewer

# NDI
vendor/ndi/**/*.lib
vendor/ndi/**/*.dylib
vendor/ndi/**/*.dll
vendor/ndi/**/*.so
vendor/ndi/.cache/
vendor/ndi/macos/sdk/
vendor/ndi/linux/sdk/
vendor/ndi/windows/sdk/

# Blackmagic (only keep headers)
vendor/blackmagic/*
!vendor/blackmagic/Mac/
vendor/blackmagic/Mac/*
!vendor/blackmagic/Mac/include/
!vendor/blackmagic/Linux/
vendor/blackmagic/Linux/*
!vendor/blackmagic/Linux/include/
!vendor/blackmagic/Win/
vendor/blackmagic/Win/*
!vendor/blackmagic/Win/include/
